routers/src/main/app/content-based-routing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8082" doc:name="HTTP Listener Configuration"/>
    <flow name="content-based-routingFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/content-based-routing" doc:name="HTTP"/>
        <expression-filter expression="#[payload != '/favicon.ico']" doc:name="Expression"/>
        <set-variable variableName="language" value="#[message.inboundProperties['http.query.params'].language]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars['language'] == 'Spanish']">
                <set-payload value="Hola!" doc:name="Reply in Spanish"/>
            </when>
            <when expression="#[flowVars['language'] == 'French']">
                <set-payload value="Bonjoru!" doc:name="Reply in French"/>
            </when>
            <otherwise>
                <flow-ref name="content-based-routingSub_Flow" doc:name="call sub flow"/>
            </otherwise>
        </choice>
        <logger message="The Reply &quot;#[payload]&quot; means 'hello' in #[flowVars.language]." level="INFO" doc:name="Logger"/>
    </flow>
    <sub-flow name="content-based-routingSub_Flow">
        <logger message="No language specified. English as default language." level="INFO" doc:name="Logger"/>
        <set-variable variableName="language" value="English" doc:name="Variable"/>
        <set-payload value="Hello!" doc:name="Set Payload"/>
    </sub-flow>
</mule>
